# Kuis Pandas

** Import pandas as pd **

In [1]:
import pandas as pd

** Tampilkan dari data dari file pandas.csv **

In [5]:
df = pd.read_csv('pandas.csv')
df

,bulan,stasiun_pengisian_bahanbakar,jenis_bahanbakar,jumlah_penjualan,penerimaan_pajak
0,1,Pertamina,Bio Solar,55232675,16813838145
1,1,Pertamina,Solar,13531625,4631822667
2,1,Pertamina,Premium,148118500,46128488066
3,1,Pertamina,Pertalite,0,0
4,1,Pertamina,Pertamax,35750000,13041124794
...,...,...,...,...,...
151,12,Pertamina,Pertamax Racing,1000,2456522
152,12,Pertamina,BBG,66491,522521962
153,12,Total,Performance 92,808000,307719640
154,12,Total,Performance 95,184000,80281420
155,12,Total,Diesel,80000,34331008

** Tampilkan info dataframe menggunakan .info() **

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
bulan                           156 non-null int64
stasiun_pengisian_bahanbakar    156 non-null object
jenis_bahanbakar                156 non-null object
jumlah_penjualan                156 non-null int64
penerimaan_pajak                156 non-null int64
dtypes: int64(3), object(2)
memory usage: 6.2+ KB

** Tampilkan rata - rata jumlah penjualan **

In [7]:
df['jumlah_penjualan'].mean()

19896216.506410256

** Tampilkan maksimal dan minimal penerimaan_pajak **

In [9]:
df['penerimaan_pajak'].max()

0

In [10]:
df['penerimaan_pajak'].min()

0

** Tampilkan jenis_bahanbakar dari stasiun_pengisian_bahanbakar Pertamina **

In [13]:
df[df['stasiun_pengisian_bahanbakar'] == 'Pertamina']['jenis_bahanbakar']

0            Bio Solar
1                Solar
2              Premium
3            Pertalite
4             Pertamax
            ...
148      Pertamax Plus
149      Pertamina Dex
150            Dexlite
151    Pertamax Racing
152                BBG
Name: jenis_bahanbakar, Length: 120, dtype: object

** Tampilkan data yang penerimaan_pajaknya terbesar **

In [17]:
df[df['penerimaan_pajak'] == df['penerimaan_pajak'].max()]

,bulan,stasiun_pengisian_bahanbakar,jenis_bahanbakar,jumlah_penjualan,penerimaan_pajak
54,5,Pertamina,Premium,152646150,49326967854

** Tampilkan data rata - rata jumlah_penjualan dan penerimaan_pajak perbulan **

In [21]:
df.groupby(['bulan']).mean()

       jumlah_penjualan  penerimaan_pajak
bulan
1          1.978234e+07      6.378750e+09
2          1.807754e+07      5.498319e+09
3          2.050384e+07      6.497834e+09
4          1.970387e+07      6.595338e+09
5          2.051530e+07      6.873613e+09
6          1.990238e+07      6.703365e+09
7          1.794975e+07      6.068822e+09
8          2.105408e+07      7.100888e+09
9          2.022046e+07      6.797098e+09
10         2.066132e+07      6.869025e+09
11         1.991948e+07      6.607325e+09
12         2.046425e+07      6.782211e+09

** Tampilkan stasiun_pengisian_bahanbakar apa saja yang ada di dataframe **

In [22]:
df['stasiun_pengisian_bahanbakar'].unique()

array(['Pertamina', 'Total'], dtype=object)

** Tampilkan berapa banyak jenis_bahanbakar yang ada di dataframe **

In [24]:
df['jenis_bahanbakar'].nunique()

13

** Tampilkan jumlah pertamina pada stasiun_pengisian_bahanbakar di bulan ke 1 **

In [27]:
df['bulan'][(df['bulan'] == 1) & (df['stasiun_pengisian_bahanbakar'] == 'Pertamina')].count()

10